*{
    background-color: silver;
}

.hello{
    background-color: #f9c602;
    border-radius: 50px;
    text-align: center;
}
.kwadrat{
    background-color: #6cba68;
    height: 200px;
    width: 200px;
}
.kolo{
    background-color: #f9c602;
    height: 200px;
    width: 200px;
    border-radius: 50%;
}

.pictures{
    padding-top: 50px;
}